#contentbox {
  width: 90%;
  margin-left: 5%;
  margin-top: 120px;
  line-height: 1;
}

#contentbox h2 {
  color: #212121;
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 3px 0 #888;
}

#contentbox h3 {
  color: #666;
  font-size: 20px
  font-style: italic;
  text-align: center;
}

#headline {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.content_disc {
  text-align: justify;
  color: #333;
  line-height: 1.4;
}

.project_link {
  display: inline-block;
  background-color: #E64A19;
  margin: 0;
  width: 32%;
  text-align: center;
  transition: background-color 250ms ease;
}

.project_link a {
  display: block;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project_link:hover {
  background-color: #333;
}

.project_nav {
    margin-right: auto;
    margin-left: auto;
}
