#menuebar {

	position: absolute;
	background-color: #DC5A14;
	border-bottom: 0.5px solid grey;
	box-shadow: 0.3px 0.3px 0.3px;
	width: 100vw;
	height: 10vh;
	top: 0;
	max-height: 50px;

}

#logo {

	position: absolute;
	background: url("img/favicon.png") no-repeat;
	background-size: cover;
	max-height: 50px;
	max-width: 50px;
	width: 10vw;
	height: 10vh;
	left: 0px;
	top: 0px;

}

#mainnav {

	position: absolute;
	right: 0;
	margin: 10px;
	padding: 0;
	list-style-type: none;
	overflow: auto;

}

#mainnav li {

	width: 100px;
	margin: 5px;
	float: left;
	text-align: center;
	
}

#mainnav a {

	color: rgb(20, 20, 20);
	text-decoration: none;
	font-weight: bold;
	font-family: mono-space;

}

h1, table {

color: #DC5A14;
text-align: center;

}

p, h2 {

  color: #DC8214;
  text-align: center;

}

a:visited, a{


  color: #DC8214;

}
.notice {
  font-size: 14pt;
  font-weight: 900;
}

hr {

  color: #DC5A14;
  background-color: #DC5A14;


}

.listing {

  font-family: monospace;
  color: #DC5A14;
  font-size: 10pt;
  font-weight: 100;

}


body {

	background-color: rgb(40, 40, 40);
	margin: 0px;

}

/* Boxes */

#infobox {

  width: 700px;
  margin-top: 7.5%;
  text-align: center ;
  margin-left: auto ;
  margin-right: auto ;

  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 4px;
  padding: 1%;
}

#linkbox {

  width: 700px;
  height: 120px;
  margin-top: 7.5%;
  text-align: center ;
  margin-left: auto ;
  margin-top: auto;
  margin-right: auto ;

  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 4px;
  padding: 1%;

}