#menuebar {

	position: absolute;
	background-color: #DC5A14;
	border-bottom: 0.1px solid grey;
	box-shadow: grey 0.3px 0.3px 0.3px;
	width: 100vw;
	height: 10vh;
	top: 0;
	max-height: 50px;
	z-index: 0;

}

#logo {

	position: absolute;
	background: url("img/favicon.png") no-repeat;
	background-size: cover;
	max-height: 50px;
	max-width: 50px;
	width: 10vw;
	height: 10vh;
	left: 0px;
	top: 0px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;

}

#logo:hover {

	transform: scael(0.75, 0.75);
	-webkit-transform: scale(0.75, 0.75);

}

#mainnav {

	list-style: none;
	width: 25em;
	float: right;

	margin: 0;
	padding: 0;


}

#mainnav li {

	float: left;
	width: 6em;
	text-align: center;
	vertical-align: middle;
	background-color: #DC5A14;
	height: 100%;

	 transition: all 0.1s ease-out 0.1s; 						/* IE 10 */
    -webkit-transition: all 0.1s ease-out 0.1s; 	/* Google Chrome */
    -moz-transition: all 0.1s ease-out 0.1s; 			/* FireFox */
    -o-transition: all 0.1s ease-out 0.1s; 				/* Opera */

}

#mainnav li:hover {

	background-color: #E88D5C;

}

#mainnav li a {

	color: rgb(40, 40, 40);
	font-weight: bolder;
	line-height: 5vh;
	text-decoration: none;

}

h1, table {

color: #DC5A14;
text-align: center;

}

p, h2 {

  color: #DC8214;
  text-align: center;

}

a:visited, a{


  color: #DC8214;

}
.notice {
  font-size: 14pt;
  font-weight: 900;
}

hr {

  color: #DC5A14;
  background-color: #DC5A14;


}

.listing {

  font-family: monospace;
  color: #DC5A14;
  font-size: 10pt;
  font-weight: 100;

}


body {

	background-color: rgb(40, 40, 40);
	margin: 0px;

}

/* Boxes */

#infobox {

  width: 80vw;
  height: 45vh;
  margin-top: 30%;
  text-align: center ;
  margin-left: auto ;
  margin-right: auto ;

  background-color: rgba(80, 80, 80, 0.2);
  border-radius: 4px;
  padding: 1%;
}

#status_infobox, #download_infobox {

  width: 700px;
  margin-top: 7.5%;
  text-align: center ;
  margin-left: auto ;
  margin-right: auto ;

  background-color: rgba(80, 80, 80, 0.2);
  border-radius: 4px;
  padding: 1%;
}


.listing {

	margin-bottom: 20px;
	border-collapse:collapse;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	border: none;
	border-radius: 3px;
	color: black;

}

.listing th, .listing td {
	
		box-shadow: inset 0 -1px rgba(0,0,0,0.25), inset 0 1px rgba(0,0,0,0.25);
		
}

.listing th {

		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		padding: 1em;
		color: rgba(0,0,0,0.45);
		text-shadow: 0 0 1px rgba(0,0,0,0.1);
		font-size: 1.5em;
		
}

.listing td {
		color: rgb(40, 40, 40);
		padding: 0.7em 1em 0.7em 1.15em;
		text-shadow: 0 0 1px rgba(255,255,255,0.1);
		font-size: 1.4em;
}

.listing tr {

		-webkit-transition: background 0.3s, box-shadow 0.3s;
		-moz-transition: background 0.3s, box-shadow 0.3s;
		transition: background 0.3s, box-shadow 0.3s;
		
	}
.listing {
	
		background-color: #CC4A04;
	
	}
	
.listing td a {

	text-decoration: none;
	color: black;

}
	
.listing tr:hover {
	
		background: rgba(0,0,0,0.19);
		
}
	
#image_slider {

	width: 80vw;
	height: 45vh;
	margin-left: 10vw;
	margin-top: 10vh;

}